<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="stylesheets/bootstrap.min.css"
    rel="stylesheet">
    <link href="stylesheets/bootstrap-glyphicons.css"
    rel="stylesheet">

    <link href="stylesheets/screen-9d76e70eed.css" rel="stylesheet">

    <script>
    var selectType = "<%= selectType %>";
    var serverAddress = "<%= serverAddress %>";
    var serverRunning = <%= serverRunning %>;
    </script>
</head>

  <body>
    <div class="container">
      <form method="POST" action="/config">
        <div class="form-group">
          <label class="title-label">
            Choose application mode:
          </label>
          <span class="label label-default" id="status"></span>
          <select id="selectType" name="selectType" class="form-control" onchange="onSelectMode()">
            <option value="server">
              Server
            </option>
            <option value="client">
              Client
            </option>
          </select>
        </div>
        <div class="form-group" id="clientcontents">
          <label class="input-label">
            Connect server address:
          </label>
          <input type="text" class="form-control" name="serverAddress">
        </div>
        <button type="submit" class="btn btn-default">
          Apply
        </button>
      </form>
    </div>
    <script src="javascripts/jquery.min.js"
    >
    </script>
    <script src="javascripts/bootstrap.min.js"
    >
    </script>

    <script src="javascripts/screen-9d76e70eed.js"></script>
</body>

</html>
